.gallery-image img {
    width: 100%;
}
.intro-header img {
    width: 100%;
}
header img{
    width: 100%;
}

header .header-banner {

    background-image: url("img/banner2.jpg");
    width: 100%;
    height: 20vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: table;
  
    }

header h1 {

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
    line-height: 60px;
    text-transform: uppercase;
    text-shadow: 2px 2px 8px #4f5663;
    padding-top: 15px;
    margin:0;
    }
    
header h2 {
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    letter-spacing: 3px;
    color: #161313;
    text-transform: uppercase;
    text-shadow: 3px 3px 8px #4f5663;
    padding-bottom: 10px;
    }

header .logo {

    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 10px 0 20px 0;
    
    }
hr {

    color: #4f5663;
    border-width: 2px;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 5px;
    
    }


header nav ul {

    display: flex;
    margin: 0 auto;
    padding-left: 0;
    justify-content: space-between;
    
    }
    
    header nav ul li {
    
    display: inline-block;
    padding: 16px 16px;
    
    }

nav ul li a {

    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 2px;
    color: #172029;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 3px 3px 8px #4f5663;
    }

main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.intro{
    display: flex;
}
.intro-h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 2px;
    color: #172029;
    text-transform: uppercase;
    text-decoration: none;
}

.intro-header img{
    
    display: none;

}
.gallery-h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 2px;
    color: #172029;
    text-transform: uppercase;
    text-decoration: none;
    
}

.gallery-image {

    margin: 10px;
    position: relative;
    text-align: center;
    -webkit-flex-basis: 300px;
    -moz-flex-basis: 300px;
    flex-basis: 300px;
    } 
.post-header {       
    
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 24px;
    color: #d8d2d2;
    text-transform: uppercase;
    text-shadow: 4px 4px 9px #1a110e;
    
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    }

.gallery-image img{
    border-radius: 50%;
}

.gallery-links {

    display: flex;
    flex-flow: row wrap;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -moz-flex;
    -moz-flex-flow: row wrap;
    justify-content: center;
    -o-flex-flow: row wrap;
    justify-content: center;
    
    }

footer {

    width: calc(100% - 80px);
    padding: 40px 40px;
    background-color: #b8b9b9;
    margin-top: 20px;
    display: flex;
    justify-content:space-between;
    } 

footer ul {

    width:fit-content;
    padding-left: 0px;
    
    }

footer ul li {

    display: block;
    
    }

footer ul li p {

    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 4vw;
    letter-spacing: 2px;
    color: #172029;
  
    }
.footer-sm {

    width: 64px;
    float: right;
    
    }
    
    .footer-sm img {
    
    width: 100%;
    margin-bottom: 10px;
    
    }

@media only screen and (min-width: 450px) {
  
  header nav ul {
    justify-content: space-around;
    
    }
}

@media only screen and (min-width: 950px) {   


        header .logo hr{
            display: none;
        }
        header h1 {
            font-size: 50px;
            padding-top: 15px;
            margin:5px 0px 0px;
            }
            
        header h2 {
            font-size: 20px;
            }

        header nav ul {
            justify-content: space-around;
            
            }
        nav ul li a {
            font-size: 20px;
        }

        main {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        }
       
        .intro-header img{
    
            display: block;
            float: right;
            width: 40vw;
            padding: 0px 20px 20px;
        }
        .gallery-header{
            display: none;
        }
        .gallery-links{
            justify-content: space-around;
        }
        .gallery-links .post-header{
            opacity: 0;
        }
        .gallery-image:hover .post-header{
            opacity: 1;
            background: rgba(0, 0, 0, 0.5); 
        }
        
        footer ul li p {
            font-size: 18px;
            }
    }